

<!--This is the head with all of the stuff that the page will need to reference.-->

<head>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.runtime.js"></script>
  
		<meta charset="utf-8"/>
		<title>A Wafflehouse Recipe</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous"/>
		<link rel="stylesheet" href="/style.css" media="screen"/>
		<script src="/index.js" charset="utf-8" defer></script>

      <link rel="stylesheet" href="/style.css" media="screen"/>
	</head>