

<!--This creates the header which will be full of links-->

<header>
			<a href='#'><h1 class=  "site-title"> Wafflehouse Recipes </h1></a>
			<nav class="navbar">
        <ul class="navlist">
          <!--Link to new page w/ recipes only in those categories-->
          <!--Could be a drop down next to home if screen is too small to accommodate-->
          <li class="navitem navlink active"><a href="type/0">Home</a></li>
          <li class="navitem navlink"><a href="type/1">Entrées</a></li>
          <li class="navitem navlink"><a href="type/2">Breakfasts</a></li>
          <li class="navitem navlink"><a href="type/3">Sides</a></li>
          <li class="navitem navlink"><a href="type/4">Desserts</a></li>
          <li class="navitem navlink"><a href="type/5">Uncategorized</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search..."/> 
            <button type="button" id="navbar-search-button"><i class="fas fa-search"></i></button>      <!-- We can make it popup as an extra stuff -->
          </li>
        </ul>
      </nav>
</header>