
<!--this is the card thing for the recipes in the main page.-->

<main class = "recipes-container">
			<article class = "recipe-card">
        <p class = "recipe-name"> {{Name}} </p>
        <p class = "recipe-description"> {{Description}} </p>
				<p class = "recipe-author"> {{Author}} </p>
			</article>
		</main>