
<!--this is the card thing for the recipes in the main page.-->

			<article class = "recipe-card">
        <a href = "#" class = "recipe-link">
          <div>
            <p class = "recipe-name"> {{Name}} </p>
            <p class = "recipe-description"> {{Description}} </p>
            <p class = "recipe-author"> {{Author}} </p>
            <div class = "recipe-type"> {{Type}} </div>
          </div>
        </a>
			</article>