<!DOCTYPE html>
<html lang="en" dir="ltr">

	{{>head}}  <!-- This calls the head handlebars to call in all the required stuff -->

    {{>header}}  <!-- This calls the header handlebars which includes the title and navbar-->
	<body>



    {{>fullRecipe RecipeInfo}} <!-- This theroitically calls the fullRecipe Handlebars that then will call 2 list handlebars to make the lists -->

		

	</body>
</html>
